# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".
# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

[include mainsail.cfg]
[exclude_object]


[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_min: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_min: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -5

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD2
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan heatbreak_cooling_fan]
pin: PC7

[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_31FFD5054250373922500257-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[static_digital_output usb_pullup_enable]
pins: !PA14

[board_pins]
aliases:
   # EXP1 header
   EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
   EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

[display]
lcd_type: st7920
cs_pin: PA15
sclk_pin: PA9
sid_pin: PB5
encoder_pins: ^PB8, ^PB9
click_pin: ^!PB15

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
x_offset: -45
y_offset: -4
z_offset: 2.745
probe_with_touch_mode: true
stow_on_each_sample: false
samples: 2
samples_tolerance: 0.075
samples_tolerance_retries: 3
sample_retract_dist: 5

[safe_z_home]
home_xy_position: 162.5,121.5
speed: 50
z_hop: 10
z_hop_speed: 5

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 45, 20
mesh_max: 190, 190
probe_count: 5,5
mesh_pps: 2,2
algorithm: bicubic

[bed_screws]
screw1: 115,30
screw2: 185,30
screw3: 185,200
screw4: 115,200

[screws_tilt_adjust]
screw1: 70,34     # (115-45, 30+4)
screw1_name: front left
screw2: 230,34    # (185+45, 30+4)
screw2_name: front right
screw3: 230,204   # (185+45, 200+4)
screw3_name: back right
screw4: 70,204    # (115-45, 200+4)
screw4_name: back left
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set EXTRUDER_TEMP = params.TEMP|default(200)|float %}
    M109 S{EXTRUDER_TEMP}
    G91
    G1 E50 F300
    G1 E25 F150
    G90

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set EXTRUDER_TEMP = params.TEMP|default(200)|float %}
    M109 S{EXTRUDER_TEMP}
    G91
    G1 E10 F300
    G1 E-50 F1800
    G90

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    
    # Home and wait for everything to settle
    G28
    G4 P1000
    
    # Start bed heating first
    M140 S{BED_TEMP}
    
    # Use absolute coordinates
    G90
    SET_GCODE_OFFSET Z=0.0
    
    # Move up and wait for bed temp
    G1 Z10 F3000
    M190 S{BED_TEMP}
    
    # Move to start position
    G1 X10 Y10 Z10 F3000
    
    # Heat nozzle to temp
    M109 S{EXTRUDER_TEMP}
    
    # Perform bed mesh calibration
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE
    
    # Prime nozzle
    G1 Z0.3
    G1 X60 E9 F1000  # Intro line
    G1 X100 E12.5 F1000  # Intro line
    G92 E0
    G1 Z2 F3000
    
[gcode_macro CANCEL_PRINT]
gcode:
    END_PRINT
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    TURN_OFF_HEATERS
    M106 S0
    
    # Move nozzle away from print
    G91
    G1 E-3 F3600
    G1 Z10
    G90
    G1 X0 Y220
    
    # Disable steppers
    M84

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.112500, 0.101250, 0.105000, 0.141250, 0.273750
#*# 	  0.043750, 0.077500, 0.111250, 0.146250, 0.122500
#*# 	  0.013750, 0.027500, 0.060000, 0.093750, 0.086250
#*# 	  0.033750, 0.075000, 0.101250, 0.143750, 0.107500
#*# 	  -0.061250, -0.018750, 0.017500, 0.052500, 0.026250
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 45.0
#*# max_x = 190.0
#*# min_y = 4.0
#*# max_y = 190.0
